* {
  background: #d0d9d3;
}

.text {
        background: linear-gradient(to right, #02e659, #126130);
        font-family: 'Poppins', sans-serif;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
