@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;800&display=swap');

body{
    margin: 0 !important;
    padding: 0 !important;

    background: #37396b;
    font-family: 'JetBrains Mono', monospace;
}
main{
    width: 100vw;
    height: auto;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}
.bold{
    font-weight: 400;
}

article{
    width: 50%;
    height: auto;

    padding: 5%;
    margin: 3%;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background: #ddf;
    border-radius: 12px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
article h1{
    margin: 0;

    font-weight: 800;
}
article p{
    font-weight: 200;
}

.icons-container{
    position: absolute;
    bottom: 2%;
    right: 5%;

    margin: 1%;

    font-size: xx-large;
    opacity: 0.7;

    transition: opacity .3s;
}
.icons-container:hover{
    opacity: 1;
}

@media (max-width: 768px){
    article{
        width: 95%;
    }
}