* {
  background: linear-gradient(to right, #0e29c2, #1da4ad);
}

.text {
        background: linear-gradient(to right, #36d1dc, #5b86e5);
        font-family: 'Poppins', sans-serif;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
