@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	
	background: linear-gradient(to right, #FDFBFB, #EBEDEE 70%);
}

.text {
	background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Poppins', sans-serif;
