@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono');

* {
  background: #37396b;
}

.text { 
        font-family: 'JetBrains Mono', monospace;
        font-size: 35px;
        background: gray;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dev_xd {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
  width: 155px;
}

.logo {
  float: left;
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
}
