* {
  background: white;
}

.text {
        font-size: 20px;
        font-weight: 400;
        background: black;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
